<%_.each(data.result,function(item){%>
<%item.fid&&Jser.setItem("fid"+item.id,item.name)%>
<%item.picture&&Jser.setItem("fpicture"+item.id,item.picture)%>
<li>
	<a href="#list/index/id:<%=item.id%>/on:<%=item.isfollow%>"  data-fname="<%=item.name%>" data-fdescribe="<%=item.fdescribe%>">
        <div class="mask"></div>
		<div class="mark-box">
        <span class="zan"><%=item.follownum%></span>
		<i class="<%=item.isfollow==1?'mark-icon-on':'mark-icon'%>  js-mark icon"  data-fid="<%=item.id%>" data-fdescribe="<%=item.fdescribe%>" data-fname="<%=item.name%>"  data-on="<%=item.isfollow%>"></i>
		</div>
		<img src="resource/images/loadcollection.png" data-src="<%=item.picture%>">
		<!--span class="count-btn btn"><%=item.pnum%>件商品</span-->
        <div class="index-list-describ">
            <p class="index-list-txt">
                <!--<span></span>-->
                <%=item.name%>
                <!--<span></span>-->
            </p>
        </div>
        <ul class="index-list-ul">
            <li class="index-list-li">
                <div><i class="icon-count"></i><span class="pink"><%=item.productnum%>件商品</span></div>
                <div><span class="pink">•</span>
                    <%if(item.tag.length>=1){%>
                        <%=item.tag[0].name%>
                    <%}%>
                </div>
                <div><span class="pink">•</span>
                    <%if(item.tag.length>=2){%>
                        <%=item.tag[1].name%>
                    <%}%>
                </div>
            </li>
        </ul>
        <!--span class="count-btn btn"><%=item.pnum%>件商品</span-->
		<!-- <p class="index-list-txt"><%=item.fdescribe%></p> -->
	</a>
</li>
<%})%>